body {
    background-color: hsl(0, 0%, 90%);
}

p {
    font-size: 2.4em;
    color: tomato;
    position: fixed;
    margin: 0;
    padding: 0;
    transform: translate(-50% , -50%);
    left: 50%;
    top: 50%;
    
}